/* style.css */
/* Apply Roboto font to all elements */
* {
    font-family: 'Roboto', sans-serif;
  }

body {
    margin: 0;
    overflow: hidden;
  }
  
#sideBar {
    position: fixed;
    border-radius: 5px;
    left: 30px;
    width: 20vw;
    background: linear-gradient(180deg, #272527, rgba(37, 37, 39, .8) 52.08%, rgba(37, 37, 39, 0));
    color: white;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    min-width: 300px;
    min-height: 70px;
    top: 3vh;
    bottom: 3vh;
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#sideBar.collapsed {
    max-height: 0;
}

.title {
    font-weight: 600;
    font-size: 36px;
}

.subTitle {
    color: grey;
    font-size: 20px;
}

#panelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
}

.verticalGroup{
    display: flex;
    flex-direction: column;
}

#panelContent {
    margin-top: 10px;
}

#collapseBtn {
    cursor: pointer;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    color: lightgray;
}

#panelContent.collapsed {
    display: none;
}
